body	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $black;
	font-weight: 400;
	font-size: 18px;
	//letter-spacing: .0em;

	line-height: 1.2em;
	cursor: default;
	
	-webkit-font-feature-settings: 'tnum';
	-moz-font-feature-settings: 'tnum';
	-ms-font-feature-settings: 'tnum';
	font-feature-settings: 'tnum';
}